__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.env
.venv
*.csv
.pytest_cache/
data/data_management/data
.vscode/settings.json
data/data_management/testing.py
data/data_management/wheat_loader.py
runs/rec_runs.sh
testing/test_model.py
testing/test_wheat_loader.py
tex/bachelorarbeit.aux
tex/bachelorarbeit.fdb_latexmk
tex/bachelorarbeit.fls
tex/bachelorarbeit.log
tex/bachelorarbeit.tex
tex/masterarbeit.aux
tex/masterarbeit.bbl
tex/masterarbeit.bcf
tex/masterarbeit.blg
tex/masterarbeit.fdb_latexmk
tex/masterarbeit.fls
tex/masterarbeit.log
tex/masterarbeit.pdf
tex/masterarbeit.run.xml
tex/masterarbeit.synctex.gz
tex/masterarbeit.tex
tex/masterarbeit.toc
tex/ref-ba.bib
.gitignore
data/data_management/create_datasets.sh
data/data_management/temp.py
runs/mlruns/
*.db
data/datasets/gwhd_2021
data/datasets/MNIST
runs/configs
runs/start_runs.sh
