__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.env
.venv
.ssh
*.csv
.pytest_cache/
data/data_management/data
.vscode/settings.json
data/data_management/testing.py
data/data_management/wheat_loader.py
runs/rec_runs.sh
testing/test_model.py
testing/test_wheat_loader.py
counting_threshold_eval.md
.gitignore
data/data_management/create_datasets.sh
data/data_management/temp.py
runs/mlruns/
*.db
data/datasets/
runs/configs
runs/start_runs.sh
eval/attention_eval
runs/cluster_mlruns_staging*
runs/staging
tex/master-vortrag/Master_Vortrag.aux
tex/master-vortrag/Master_Vortrag.aux
tex/master-vortrag/Master_Vortrag.fdb_latexmk
tex/master-vortrag/Master_Vortrag.log
tex/master-vortrag/Master_Vortrag.nav
tex/master-vortrag/Master_Vortrag.synctex.gz
