__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.env
.venv
.ssh
*.csv
.pytest_cache/
data/data_management/data
.vscode/settings.json
data/data_management/testing.py
data/data_management/wheat_loader.py
runs/rec_runs.sh
testing/test_model.py
testing/test_wheat_loader.py
counting_threshold_eval.md
.gitignore
data/data_management/create_datasets.sh
data/data_management/temp.py
runs/mlruns/
*.db
data/datasets/
runs/configs
runs/start_runs.sh
eval/attention_eval
runs/cluster_mlruns_staging*
runs/staging
tex/master-vortrag/
tex/masterarbeit/masterarbeit.toc
tex/masterarbeit/masterarbeit.synctex.gz
tex/masterarbeit/masterarbeit.run.xml
tex/masterarbeit/masterarbeit.log
tex/masterarbeit/masterarbeit.fls
tex/masterarbeit/masterarbeit.fdb_latexmk
tex/masterarbeit/masterarbeit.blg
tex/masterarbeit/masterarbeit.bcf
tex/masterarbeit/masterarbeit.bbl
tex/masterarbeit/masterarbeit.aux
compass_artifact_wf-81813ee2-f74f-56ab-8609-0dd220396778_text_markdown.md
runs/run_cluster_clam_sweep.sh
runs/run_cluster.sh
runs/run_color.sh
runs/run_full_image_clam_eval.sh
runs/run_greedy.sh
runs/run_synth.sh
models/state_dicts/
tex/masterarbeit/tikz/
tex/masterarbeit/masterarbeit.pdf
full_image_results.json
runs/run_cluster.sh
eval/scripts/
tex/masterarbeit/masterarbeit.bbl-SAVE-ERROR
eval/results/gt_count_hist.png
eval/results/MNIST_results.png
eval/results/clam_sweep_heatmaps.png
eval/results/clam_sweep_counting.png
eval/results/clam_sweep_bias_curve.png
data/data_management/drone_bags.h5
build.log
runs/mlflow_res.zip
.gitignore
